# Database Configuration

HOST=localhost
SERVER_PORT=8080
DB_USER= DB_username
DATABASE= DB_name
DB_PORT=5432
DB_PASSWORD= ** password **
NODE_ENV=development #better for debugging/testing, change later
DB_SSL=false #change to true iin production  
